{
  "openapi": "3.0.3",
  "info": {
    "title": "API Microservicio Catálogo de Eventos - Equipo 7",
    "description": "Especificación OpenAPI 3.0 completa para el microservicio Catálogo de Eventos (TicketU). Incluye todos los endpoints expuestos a otros squads (Reseñas y Entradas) y los endpoints consumidos de Panel Organizador, Reseñas y Entradas.",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.ticketu.cl/api/v1",
      "description": "Servidor API Gateway / Producción"
    },
    {
      "url": "http://localhost:3000/api/v1",
      "description": "Servidor Local de Desarrollo"
    }
  ],
  "tags": [
    {
      "name": "Endpoints Expuestos",
      "description": "Endpoints que Catálogo expone a otros microservicios"
    },
    {
      "name": "Integración con Panel Organizador",
      "description": "Endpoints consumidos del Panel Organizador"
    },
    {
      "name": "Integración con Reseñas",
      "description": "Endpoints consumidos del microservicio de Reseñas"
    },
    {
      "name": "Integración con Entradas e Inventario",
      "description": "Endpoints consumidos del microservicio de Entradas"
    }
  ],
  "paths": {
    "/catalogo/eventos/{id_evento}": {
      "get": {
        "summary": "Validar existencia y datos de contexto del evento",
        "description": "Endpoint expuesto para el microservicio de Reseñas (Contrato_Catalogo_de_eventos.pdf). Permite validar si un evento existe antes de registrar una opinión.",
        "tags": [
          "Endpoints Expuestos"
        ],
        "parameters": [
          {
            "name": "id_evento",
            "in": "path",
            "required": true,
            "description": "ID del evento",
            "schema": {
              "type": "string",
              "example": "evt_123456"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Evento encontrado",
            "content": {
              "application/json": {
                "example": {
                  "existe": true,
                  "id_evento": "evt_123456",
                  "nombre": "Festival de Música TicketU 2026",
                  "fecha": "2026-10-15T20:00:00Z",
                  "tipo": "pagado"
                }
              }
            }
          },
          "404": {
            "description": "Evento no existe",
            "content": {
              "application/json": {
                "example": {
                  "existe": false,
                  "id_evento": "evt_123456"
                }
              }
            }
          }
        }
      }
    },
    "/catalogo/eventos/{id_evento}/stock": {
      "put": {
        "summary": "Actualizar stock de evento tras compra",
        "description": "Endpoint expuesto para el microservicio de Entradas (Contrato_Entradas_Catalogo.docx.pdf). Recibe la actualización del nuevo_stock vía HTTP REST (PUT).",
        "tags": [
          "Endpoints Expuestos"
        ],
        "parameters": [
          {
            "name": "id_evento",
            "in": "path",
            "required": true,
            "description": "ID del evento a actualizar",
            "schema": {
              "type": "string",
              "example": "evt_123456"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "nuevo_stock"
                ],
                "properties": {
                  "nuevo_stock": {
                    "type": "integer",
                    "example": 45,
                    "description": "Nuevo stock disponible"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Stock actualizado exitosamente",
            "content": {
              "application/json": {
                "example": {
                  "mensaje": "Stock actualizado exitosamente",
                  "id_evento": "evt_123456",
                  "nuevo_stock": 45
                }
              }
            }
          },
          "400": {
            "description": "Solicitud inválida"
          },
          "404": {
            "description": "Evento no encontrado"
          }
        }
      }
    },
    "/organizador/eventos/proximos": {
      "get": {
        "summary": "Carga inicial de eventos próximos (Home)",
        "description": "Consumido de Panel Organizador (Contrato_Catalogo_PanelOrganizador.docx). Retorna lista de tarjetas para la Home.",
        "tags": [
          "Integración con Panel Organizador"
        ],
        "responses": {
          "200": {
            "description": "Lista de eventos próximos",
            "content": {
              "application/json": {
                "example": [
                  {
                    "id_evento": "evt_123456",
                    "titulo": "Festival de Música TicketU 2026",
                    "lugar": "Movistar Arena, Santiago",
                    "fecha": "2026-10-15T20:00:00Z",
                    "imagen": "https://cdn.ticketu.cl/images/evt_123456.jpg",
                    "stock": 45,
                    "precio_final": 25000,
                    "estado": "DISPONIBLE"
                  }
                ]
              }
            }
          }
        }
      }
    },
    "/organizador/eventos/buscar": {
      "post": {
        "summary": "Búsqueda y filtrado de eventos",
        "description": "Consumido de Panel Organizador (Contrato_Catalogo_PanelOrganizador.docx). Filtra por texto, categoría y rango de fechas.",
        "tags": [
          "Integración con Panel Organizador"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "example": {
                "texto": "musica",
                "categoria": "Conciertos",
                "fecha_inicio": "2026-10-01",
                "fecha_fin": "2026-10-31"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Resultados filtrados",
            "content": {
              "application/json": {
                "example": [
                  {
                    "id_evento": "evt_123456",
                    "titulo": "Festival de Música TicketU 2026",
                    "categoria": "Conciertos",
                    "precio_final": 25000
                  }
                ]
              }
            }
          }
        }
      }
    },
    "/organizador/eventos/{id_evento}": {
      "get": {
        "summary": "Obtener detalle completo de un evento",
        "description": "Consumido de Panel Organizador (Contrato_Catalogo_PanelOrganizador.docx). Retorna la información completa para la pantalla de detalle.",
        "tags": [
          "Integración con Panel Organizador"
        ],
        "parameters": [
          {
            "name": "id_evento",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "example": "evt_123456"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Detalle del evento cargado",
            "content": {
              "application/json": {
                "example": {
                  "id_evento": "evt_123456",
                  "titulo": "Festival de Música TicketU 2026",
                  "descripcion": "El festival universitario más grande del año.",
                  "lugar": "Movistar Arena, Santiago",
                  "fecha": "2026-10-15T20:00:00Z",
                  "imagen": "https://cdn.ticketu.cl/images/evt_123456.jpg",
                  "stock": 45,
                  "precio_final": 25000,
                  "estado": "DISPONIBLE",
                  "organizador": "Federación de Estudiantes"
                }
              }
            }
          }
        }
      }
    },
    "/resenas/calificaciones-basicas": {
      "post": {
        "summary": "Obtener promedios de estrellas en bloque",
        "description": "Consumido de Reseñas (Contrato_Catalogo_Resenas.docx). Solicita calificaciones para una lista de IDs de eventos.",
        "tags": [
          "Integración con Reseñas"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "example": {
                "eventos_ids": [
                  "evt_123456",
                  "evt_789012"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Promedios de calificaciones",
            "content": {
              "application/json": {
                "example": {
                  "calificaciones": [
                    {
                      "id_evento": "evt_123456",
                      "promedio_estrellas": 4.8,
                      "total_resenas": 124
                    },
                    {
                      "id_evento": "evt_789012",
                      "promedio_estrellas": 4.2,
                      "total_resenas": 45
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/resenas/evento/{id_evento}": {
      "get": {
        "summary": "Obtener comentarios individuales de un evento",
        "description": "Consumido de Reseñas (Contrato_Catalogo_Resenas.docx). Carga la lista de reseñas para el detalle del evento.",
        "tags": [
          "Integración con Reseñas"
        ],
        "parameters": [
          {
            "name": "id_evento",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "example": "evt_123456"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Comentarios del evento",
            "content": {
              "application/json": {
                "example": [
                  {
                    "id_resena": "res_001",
                    "calificacion": 5,
                    "comentario": "¡Excelente organización y gran sonido!",
                    "fecha": "2026-09-20T14:30:00Z"
                  }
                ]
              }
            }
          }
        }
      }
    },
    "/entradas/procesar-compra": {
      "post": {
        "summary": "Solicitar reserva / procesar compra de entradas",
        "description": "Consumido de Entradas e Inventario (Contrato_Catalogo_EntradasInventario.docx). Inicia la reserva de tickets.",
        "tags": [
          "Integración con Entradas e Inventario"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "example": {
                "id_evento": "evt_123456",
                "cantidad": 2,
                "token_sesion": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9..."
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Reserva procesada exitosamente",
            "content": {
              "application/json": {
                "example": {
                  "exito": true,
                  "mensaje": "Reserva confirmada con éxito",
                  "codigo_reserva": "RES-2026-9981",
                  "detalles_compra": {
                    "id_evento": "evt_123456",
                    "cantidad": 2,
                    "monto_total": 50000
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}